@{
    ViewBag.Title = "Home Page";
}
<div id="homeFon" class="homeFon bacicBgThem"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row dbPosition">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 poshuk">
                    <div class="">

                    </div>
                </div>
                <div class="col-lg-3"></div>
                </div>
            <div class="col-lg-12 tablycja">

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="telBlok row">
            <div class="col-lg-6">
                <div width="180" height="115">
                    <h6>Do not miss</h6>
                    <h3 id="textDownload-1" class="textDownload-1 bacicCoThem">Use our app</h3>
                    <div id="textDownload-2" class="textDownload-2 bacicBgThem" >
                        <i class="FoatL fa fa-android fa-3x textDownloadPadd" aria-hidden="true"></i>
                        <div class="textDownloadPadd">
                            <p>Download</p>
                            <p class="googleplay">in GOOGLPLAY</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/Tel-2.jpg" alt="Tel">
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
